extends layout

block content
  h1= title

  div#allmsg
      script.
          function addlist() {
            $.get("/message", function (response) { 
              $('#allmsg').append("<p>" + response + "</p>");
          });
          }
          addlist()